.calculator {
  width: 40%;
  border: solid 1px grey;
}

.parent {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0;
  height: 80vh;
}

.calcButton {
  background-color: antiquewhite;
  padding: 30px 0 30px 0;
  font-size: larger;
  font-weight: bold;
  border: solid 1px grey;
}

.zeroButton {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 3;
}

.display {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 5;
  background-color: #abc;
  padding: 20px 1px 20px 1px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 2em;
}

.operatorButton {
  background-color: #fc9e10;
}
